body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.table-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.table-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #4CAF50;
    font-size: 24px;
}

.add-order{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.add-order:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#buy-table {
    border: 2px solid #4CAF50;
}

#sell-table {
    border: 2px solid #FF5733;
}

#sell-table th {
    background-color: #FF5733;
}